@import url(https://fonts.googleapis.com/css?family=Open+Sans: 300);
@import url(https://fonts.googleapis.com/css?family=Dosis:200);


* { margin:0; padding:0; box-sizing:border-box; }
body {
	letter-spacing: 0.15em;
	font-weight: 100;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}
h1,h2 {
	font-family: 'Dosis', sans-serif;
	font-size:2.5em;
	line-height: 2em;
	font-weight: 600;
	letter-spacing: 0.15em;
	margin: auto;
	font-weight: 200;
	padding: 1.5em;
	
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
p{
	color: #3F464C;
	text-align: left;
	line-height: 1.618em;
	width: 60vw;
	padding: 1.5em;
	margin: auto;
}
.container {
	height: 100vh;
	padding:.50%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
	background-color: #FFFFFF;
}
#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
}
#home_page {
	background-color: #FF7F66;
}
#home_page:hover {
	background-color: #FFAE9C;
}
#portfolio {
	background-color: #7ECEFC;
}
#portfolio:hover{
	background-color: #B7E0FC;
}
#about {
	background-color: #328DC4;
}
#about:hover{
	background-color: #639EC4;
}
#contact {
	display: block;
}
address {
	margin: 0 auto;
	font-style: normal;
}
.contact_icons {
	vertical-align: middle;
	width: 55px;
	height: 55px;
	float: left;
}
#contact p {
	text-align: left;
	font-size: .75em;
	color: #BDD5DF;
	vertical-align: middle;
	margin: 5%;
}
#photo {
	background-image:url(../images/broad.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}
#about_page {
	background-color: #328DC4;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
#about_text, #gallery {
	float: left;
	width: 75%;
	height: 100%;
}
/*#gallery {
	margin: 0 auto;
}*/
#portfolio_page {
	background-color: #7ECEFC;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
.portfolioItem {
	color: #3F464C;
	text-align: left;
	font: .75em;
	float: left;
	width: 19%;
	margin: 3%;
	padding: 0;
}
.portfolioItem h3, p, img {
	width: 19%;
	padding: 0;
	margin: 3%;
}
.portfolioItem h3 {
	text-transform: lowercase;
}
.portfolioItem p {
	font-size: .75em;
}
.portfolioItem img {
	border-radius: .25em;
}
footer {
	background-color: #3F464C;
	width: 98.5%;
	height: 60px;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	margin:0 .25%;
	padding: .50%;
	color: #FFFFFF;
}
#copyright {
	float: left;
	padding: 0;
	width: 20%;
}
#footer_menu {
	color: #FFFFFF;
	float: right;
	padding: 5%;
	width: 50%;
	display: inline;
}
#footer_home:hover {
	background-color: #FF7F66;
}
#footer_portfolio:hover{
	background-color: #7ECEFC;
}
#footer_about:hover{
	background-color: #328DC4;
}