@import url(https://fonts.googleapis.com/css?family=Open+Sans: 300);
@import url(https://fonts.googleapis.com/css?family=Dosis:200);


* { margin:0; padding:0; box-sizing:border-box; }
body {
	letter-spacing: 0.15em;
	font-weight: 100;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}
h1,h2 {
	font-family: 'Dosis', sans-serif;
	font-size:2.5em;
	line-height: 2em;
	font-weight: 600;
	letter-spacing: 0.15em;
	margin: auto;
	font-weight: 200;
	padding: 1.5em;
	
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
p{
	color: #3F464C;
	text-align: left;
	line-height: 1.618em;
}
.container {
	height: 100vh;
	padding: 3.5% .50%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
	background-color: #FFFFFF;
}
#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
}
#home_page {
	background-color: #FF7F66;
}
#home_page:hover {
	background-color: #F8AD99;
}
#portfolio {
	background-color: #7ECEFC;
}
#portfolio:hover{
	background-color: #B5DDF5;
}
#about {
	background-color: #328DC4;
}
#about:hover{
	background-color: #88B1D8;
}
.contact_icons {
	vertical-align: middle;
	width: 55px;
	height: 55px;
	float: left;
}
#contact {
	display:block;
	margin:auto;
	width: 16em;
}
#contact div {
	overflow:hidden;
}
#contact p {
	text-align: left;
	font-size: .75em;
	color: #BDD5DF;
	vertical-align: middle;
	margin: 5%;
}
#photo {
	background-image:url(../images/broad.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}
#about_page {
	background-color: #328DC4;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
#about_text {
	width: 30%;
	padding: 1.5em;
	margin: 0 auto;
}
#about_text, #gallery {
	float: left;
	width: 75%;
	height: 100%;
}
#gallery {
	margin: 0 auto;
}
#portfolio_page {
	background-color: #7ECEFC;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
.portfolioItem {
	color: #3F464C;
	text-align: left;
	float: left;
	width: 19%;
	margin: 3%;
	padding: 0;
}
.portfolioItem h3, .portfolioItem p, .portfolioItem img {
	width: 100%;
	margin-bottom:.5em;
}
.portfolioItem h3 {
	text-transform: lowercase;
}
.portfolioItem p {
	font-size: .75em;
}
.portfolioItem img {
	border-radius: .25em;
}
footer {
	background-color: #3F464C;
	width: 99%;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	margin:0 .50% 3.5%;
	color: #FFFFFF;
	float: left;
	padding: 2em;
	overflow: hidden;
}
#copyright {
	float: left;
	width: 20%;
	color: #FFFFFF;
	padding: 2em;
	position: relative;
	margin: auto;
}
#clearfix {
	color: #FFFFFF;
	float: right;
	padding: 2em;
	display: inline;
}
.clearfix: after {
	visibility: hidden;
	display: inline;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
nav a {
	padding: 2em;
	margin: auto
}
