@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
@import url(https://fonts.googleapis.com/css?family=Dosis:200);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #FFF;
	letter-spacing: 0.15em;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	font-size:16px;
}
h1,h2 {
	font-size:2em;
	line-height: 2em;
	font-weight: 600;
	letter-spacing: 0.15em;
	margin: .5em;
	font-weight: 200;
	padding: 1.5em;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #ffffff;
}
.container {
	height: 100vh;
	padding:.50%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
}
#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
}
#home_page {
	background-color: #FF7F66;
}
#portfolio {
	background-color: #7ECEFC;
}
.thumbnails {
	padding: 1.5em;
}
#about {
	background-color: #328DC4;
}
#contact {
	display: inline-block;
	padding: 1.5em;
	position: relative;
	bottom: 0;
}
#slogan {
	color: white;
	font-family: 'Sacramento', cursive;
	font-size: 20px;
}
#photo {
	background-image:url(../images/whitney1.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}
