* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
body {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.15em;
}

h1,h2 {
	font-family: 'Cabin Condensed', sans-serif;
	font-size:28px;
	line-height: 2em;
	letter-spacing: 0.15em;
	margin: 10px;
}
ul {
	list-style-type: none;
	font-size: 16px;
}
a {
	font-size: 16px;
	color: #555958;
	
}

.container {
	height: 100vh;
	padding:.50%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
}

#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
}

#home_page {
	background-color: #13140F;
	color: #D4FF00;
}

#portfolio {
	background-color: #6D776F;
}
#photo {
	background-image:url(../images/original_lights.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
	color: #D4FF00;
}
#about {
	background-color: #00D6DD
}
#slogan {
	color: white;
	font-style: italic;
	font-size: 16px;
}
