@import url(https://fonts.googleapis.com/css?family=Open+Sans: 300);
@import url(https://fonts.googleapis.com/css?family=Dosis:200);


* { margin:0; padding:0; box-sizing:border-box; }
body {
	letter-spacing: 0.15em;
	font-weight: 100;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}
.container {
	height: 100vh;
	padding: 3% .50%;
	width: 100%;
	text-align: center;
	/*vertical-align: bottom;*/ 
	background-color: #FFFFFF;
}
h1,h2 {
	font-family: 'Dosis', sans-serif;
	font-size:2.5em;
	line-height: 2em;
	font-weight: 600;
	letter-spacing: 0.15em;
	margin: auto;
	font-weight: 200;
	padding: 1.5em;
	width: 100%;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
p{
	color: #3F464C;
	text-align: left;
	line-height: 1.618em;
	margin: 1.618em;
}
li {
	list-style-type: none;
	color: #3F464C;
	text-align: left;
	margin: 0 auto;
	line-height: 1.618em;
	width: 55%;
}
#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
}
#home_page {
	background-color: #FF7F66;
}
/*#home_page:hover {
	background-color: #F8AD99;
}*/
#logo {
	max-width: 100%
}
#portfolio {
	background-color: #7ECEFC;
}
/*#portfolio:hover{
	background-color: #B5DDF5;
}*/
#about {
	background-color: #328DC4;
}
/*#about:hover{
	background-color: #88B1D8;
}*/
.contact_icons {
	width: 55px;
	height: 55px;
	float: left;
	max-width: 100%;
	vertical-align: middle;
}
#contact {
	display:block;
	margin: auto;
	width: 15em;
}
#contact img {
	vertical-align: middle;
}
#contact div {
	overflow:hidden;
	width: 100%;
}
#contact p {
	text-align: left;
	font-size: .75em;
	color: #BDD5DF;
	vertical-align: middle;
	margin: 5% 5.5%;
	line-height: normal;
	width: 100%;
}
#photo {
	background-image:url(../images/broad.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}
#about_page {
	background-color: #328DC4;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
#about_text {
	width: 30%;
	padding: 1.5em;
	margin: 0 auto;
}
#about_text, #gallery {
	float: left;
	width: 75%;
	height: 100%;
	text-align: justify;
}
#gallery {
	margin: 0 auto;
}
#portfolio_page {
	background-color: #7ECEFC;
	width: 24.5%;
	height: 100%;
	margin:0 .25% 1%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	color: #FFFFFF;
}
.portfolioItem {
	color: #3F464C;
	text-align: left;
	float: left;
	width: 19%;
	margin: 3%;
	padding: 0;
}
.portfolioItem h3, .portfolioItem p, .portfolioItem img {
	width: 100%;
	margin-bottom:.5em;
}
.portfolioItem h3 {
	text-transform: lowercase;
	text-align: left;
}
.portfolioItem p {
	font-size: .75em;
	margin: 0 auto;
}
.portfolioItem img {
	border-radius: .25em;
}
.portfolioItem img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.portfolioItem img.grayscale:hover {
	filter: none;
  	-webkit-filter: grayscale(0%);
}
footer {
	background-color: #3F464C;
	width: 98.5%;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	margin: 3% .75%;
	color: #FFFFFF;
	float: left;
	padding: 2em;
	overflow: hidden;
}
#copyright {
	float: left;
	width: 20%;
	color: #FFFFFF;
	position: relative;
	margin: auto;
}
#clearfix {
	color: #FFFFFF;
	padding: 2em;
	display: inline;
	width: 60%;
	position: relative;
}
.clearfix: after {
	visibility: hidden;
	display: inline;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
nav {
	display: inline;
	float: right;
	margin: auto;
	position: relative;
}
nav a {
	padding: 2em;
	margin: auto
}
/*media queries*/
@media only screen and (max-width: 1290px) {
body {
	font-size: 14px;
}
h1, h2 {
	font-size: 2.5em;
	line-height: .75em;
	margin: 0;
}
h1 a, h2 a {
	width: 100%;
	padding: 0;
}
}

@media only screen and (max-width: 1150px) {
.container {
	padding: .50%;
}
#home_page, #portfolio, #about, #photo {
	float: none;
	height: 23%;
	display: block;
	width: 98.5%;
	margin: .875% .25%;
}
h1, h2 {
	padding: .55em;
}
#contact {
	overflow: hidden;
	width: 80%;
	margin: 1% 15%;
}
#contact div {
	float: left;
	display: inline-block;
	width: 30%;
	padding: .20em;
}
#contact p {
	margin: 6% 5%;
	text-align: justify;
	width: auto;
}
#phone_number {
	width: 80%;
}
#email_address {
	width: 100%;
}
.contact_icons {
	width: 20%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
}
#portfolio_page, #about_page {
	float: none;
	height: auto;
	width: 98.5%;
	margin: .50% .25%;
	display: block;
}
#portfolioItem {
	float: none;
}
.clearfix: after {
	visibility: hidden;
	display: inline;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
#logo {
	width: 50%;
	height: 50%;
}
#gallery, #about_text {
	width: 100%;
	height: 71.125%;
}
#photo {
	background-image: url(../images/broad2.png);
}
.portfolioItem {
	margin: 1.618;
}
footer {
	padding: 1em;
}
}
@media only screen and (min-width: 920px) {
#contact {
	margin: 0% 15%;
}
.portfolioItem {
	float: left;
	width: auto;
	height: auto;
}
.portfolioItem p, .portfolioItem h3 {
	font-size: .5em;
}
#gallery {
	height: auto;
}
#portfolio_page, #about_page, footer {
	height: auto;
}
}
