@import url(https://fonts.googleapis.com/css?family=Open+Sans: 300);
@import url(https://fonts.googleapis.com/css?family=Dosis:200);


* { margin:0; padding:0; box-sizing:border-box; }
body {
	letter-spacing: 0.15em;
	font-weight: 100;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}
.container, #container_portfolio_page, #container_about_page {
	height: 100vh;
	margin: 1% 1% .50%;
	width: 98%;
	text-align: center;
	background-color: #FFFFFF;
	clear: both;
}
h1,h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 3em;
	line-height: 1.5em;
	margin: auto;
	font-weight: 200;
	padding: 1.5em;
	width: 100%;
}
h3 {
	font-size: 1em;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
p{
	color: #3F464C;
	text-align: left;
	line-height: 1.618em;
	margin: 1.618em;
}
#home_page, #about, #portfolio, #photo {
	width: 24%;
	height: 100%;
	margin:0 .50%;
	float: left;
	/*box-shadow:2px 2px 4px rgba(0,0,0,.25);*/
	border-radius:.25em;
}
#home_page {
	background-color: #FF7F66;
}
/*#home_page:hover {
	background-color: #F8AD99;
}*/
#logo {
	max-width: 100%
}
#portfolio {
	background-color: #7ECEFC;
}
/*#portfolio:hover{
	background-color: #B5DDF5;
}*/
#about {
	background-color: #328DC4;
}
/*#about:hover{
	background-color: #88B1D8;
}*/
.contact_icons {
	width: 55px;
	height: 55px;
	float: left;
	max-width: 100%;
	vertical-align: middle;
}
#contact {
	display:block;
	margin: auto;
	width: 15em;
}
#contact img {
	vertical-align: middle;
}
#contact div {
	overflow:hidden;
	width: 100%;
}
#contact p {
	color: #FFF;
	font-size: .75em;
	margin: 1.618em;
	text-align: left;
	width: 100%;
	position: relative;
	left: 4px;
	top: 4px;
}
#contact1.2 {
	display: none;
}
#photo {
	background-image:url(../images/gug.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}
#about_page, #portfolio_page {
	background-color: #328DC4;
	width: 24%;
	height: 100%;
	margin:0 .50%;
	float: left;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.08333em;
	color: #FFFFFF;
}
#about_text {
	padding: 3em;
	margin: 0 auto;
	height: 60%;
}
#about_text p {
	line-height: 2em;
}
#about_text, #gallery {
	float: left;
	width: 75%;
	text-align: justify;
}
.contact_icons2 {
	color: #3F464C;
	float: left;
}
#contact2 a {
	color: #3F464C;
}
#contact2 a: visited {
	color: #3F464C;
}
#contact2 {
	width: 70%;
	height: 40%;
	float: left;
	padding: 0 3em 0 3em;
}
#phone2, #email2, #linkedin2 {
	width: 100%;
	display: block;
	float: left;
	margin: 0 1.618em;
}
#gallery {
	margin: 0 auto;
	height: 100%;
}
#portfolio_page {
	background-color: #7ECEFC;
}
.portfolioItem {
	color: #3F464C;
	text-align: left;
	float: left;
	width: 31.8%;
	margin: 0 .75% 2.5%;
	padding: 0;
	display: block;
}
.portfolioItem h3, .portfolioItem p, .portfolioItem img {
	width: 100%;
}
.portfolioItem h3 {
	text-transform: lowercase;
	text-align: left;
}
.portfolioItem p {
	font-size: .75em;
	margin: 0 auto;
	line-height: 1em;
}
.portfolioItem img {
	border-radius: .25em;
	height: 100%;
}
footer {
	background-color: #3F464C;
	width: 99.5%;
	box-shadow:2px 2px 4px rgba(0,0,0,.25);
	border-radius:.25em;
	margin: 1% 1% 2%;
	color: #FFFFFF;
	float: left;
	padding: 2em;
	overflow: hidden;
	clear: both;
}
#copyright {
	float: left;
	width: 30%;
	color: #FFFFFF;
	position: relative;
	margin: auto;
}
nav {
	display: inline;
	width: 60%;
	float: right;
	margin: auto;
	position: relative;
	text-align: right;
}
nav a {
	padding: 2em;
	margin: auto;
}
/*media queries*/
@media only screen and (max-width: 1375px) {
h1, h2 {
	font-size: 2.5em;
	}
}
@media only screen and (max-width: 1310px) {
body {
	font-size: 15px;
	letter-spacing: .18em;
}
h1, h2 {
	font-size: 2.5em;
	margin: 0;
}
h1 a, h2 a {
	width: 100%;
	padding: 0;
}
#logo {
	margin: 1% 0;
}
#contact {
	width: 18em;
	left: 5px;
	margin: 1% 7%;
}
#contact2_icons {
	width: 20%;
	height: 20%;
}
}
@media only screen and (max-width: 1150px) {
h1, h2 {
	padding: 0;
}
.container, #container_about_page, #container_portfolio_page {
	clear: both;
}
#home_page, #portfolio, #about, #photo {
	float: none;
	height: 23%;
	display: block;
	width: 98.5%;
	margin: .8125%;
}
#contact {
	overflow: hidden;
	width: 100%;
	margin: 1% auto;
	position: relative;
	left: 5%;
}
#contact div {
	float: left;
	display: inline-block;
	width: 33%;
}
#contact p {
	margin: 1.618em;
	text-align: left;
	width: auto;
}
#email_address {
	width: 100%;
}
.contact_icons {
	width: 25%;
	text-align: center;
}
#portfolio_page, #about_page {
	float: none;
	height: 10%;
	width: 98.5%;
	display: block;
	clear: both;
}
#logo {
	width: 50%;
	height: 50%;
}
#gallery, #about_text {
	margin: 3em;
	width: 90%;
	height: auto;
	padding: 0 3em;
}
#photo {
	background-image: url(../images/gug2.png);
	background-position: top;
}
.portfolioItem {
	margin: 1.618;
}
#contact2 {
	width: 90%;
	padding: 3em;
	margin: 0 3em;
}
#contact2_icons {
	width: 20%;
}
footer {
	padding: 1em;
}
}
@media only screen and (max-width: 920px) {
.container {
	padding: .50%;
}
#container_portfolio_page, #container_about_page {
	height: auto;
}
#contact p {
	display: none;
}
#contact {
	display: inline-block;
	float: left;
	margin: 0.3em;
	width: 90%;
}
.portfolioItem {
	float: left;
	height: 100%;
}
}
@media only screen and (max-width: 800px) {

p {
	margin: 1em;
}
#logo {
	width: 50%;
}
#contact {
	padding-left: 0;
}
#contact img {
	float: none;
	width: 33%;
}
#contact div {
	float: none;
	margin: auto;
}
#email {
	width: 50%;
	margin-left: -20%;
}
.portfolioItem {
	width: 30%;
}
.portfolioItem p, .portfolioItem h3, .portfolioItem img {
	margin-bottom: 0;
}
#contact_icons2 {
	width: 15%;
}
#phone2, #email2, #linkedin2 {
	margin: 0 1em;
}
footer p {
	font-size: .75em;
}
#copyright {
	width: auto;
}
nav {
	font-size: .75em;
}
}
@media only screen and (max-width: 505px) {
h1, h2 {
	font-size: 2em;
}
p {
	margin: 1em;
}
#phone2, #email2, #linkedin2 {
	margin: 0 .5em;
}
/*#contact2 p {
	position: relative;
	top: 20px;
}*/
nav a {
		padding: .75em;
	}
}
@media only screen and (max-width: 400px) {
#about_text, #gallery, #contact2 {
	padding: 0;
	margin: 1.5em;
}
#about_text p {
	line-height: 1.5em;
}
nav {
	width: 65%;
}
nav a {
	padding: .3em;
}
}