* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#fff;
	font-family: Calibri; sans-serif;
	font-size:16px;
}

h1,h2 {
	font-weight: 800;
}
ul {
	text-align: right;
	list-style-type: none;
}
a {
	color: #C49EE8;

}
.container {
	height: 100vh;
	padding:.25%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
}

#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
}

#home_page {
	background-color: #A9A9A9;
}

#portfolio {
	background-color: #9DD1BB;
}

#about {
	background-color: #ABCDEF;
}

#photo {
	background-image:url(../images/original_lights.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	text-align: right;
}

#slogan {
	font-style: italic;
	color: white;
}
