body {
	font-family: Calibri; sans-serif;
	color: #000;
}

#container {
	border: 1px black;
	display: flex;
	height: 125px;
	flex-direction: row;
	text-align: justify;
}

.home_page, .portfolio, .about {
	width: 150px;
	height: 720px;
	vertical-align: top;
	display: inline-block;

	}

.home_page {
	background-color: #99FFF7;
	}

.portfolio {
	background-color: #7FFFD4;
	}

.about {
	background-color: #E493E8;
}

.photo {
	background: url();
}



p {
	font-style: italic;
}

h1 {
font-weight: 700;

}