* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.15em;
}

h1,h2 {
	font-family: 'Roboto', sans-serif;
	font-size:24px;
	line-height: 2em;
	letter-spacing: 0.15em;
	position: relative;
	top: 600px;
}
ul {
	list-style-type: none;
	font-size: 16px;
	
}
a {
	font-size: 16px;
	
}

.container {
	height: 100vh;
	padding:.50%;
	width: 100%;
	text-align: center;
	vertical-align: bottom; 
}

#home_page, #about, #portfolio, #photo {
	width: 24.5%;
	height: 100%;
	margin:0 .25%;
	float: left;
}

#home_page {
	background-color: #8F9191;
}

#portfolio {
	background-color: #7CA8DD;
}

#about {
	background-color: #DDB17C;
}

#photo {
	background-image:url(../images/original_lights.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}

#slogan {
	color: white;
	font-style: italic;
	font-size: 16px;
}
